/* Colors */
$primaryColor: #FF9C00;
$SecColor: #072753;

$grayColor:#AEAEB1;
$graySecColor:#BBBED0;
$grayTherdColor:#9CA2C6;
$grayFourColor:#F2F3FC;
$grayFiveColor:#BABDCF;
$graySixColor:#A9B2BC;

$blueColor:#1B498A;
$whiteColor: #Fff;
$blackColor: #011021